@model Kidregs.ViewModels.Admin.LoginViewModel
@{
    ViewData["Title"] = "管理员登录";
}
<!DOCTYPE html>
<html lang="cn">
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"] - @ViewBag.SystemOptions.SiteName</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="广西大学第二附属幼儿园" name="description" />
    <meta content="Coderthemes" name="author" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- App favicon -->
    <link rel="shortcut icon" href="/images/favicon.ico">

    <!-- App css -->
    <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="/css/icons.min.css" rel="stylesheet" type="text/css" />
    <link href="/css/app.min.css" rel="stylesheet" type="text/css" />

</head>

<body class="authentication-bg bg-gradient">

    <div class="account-pages mt-5 pt-5 mb-5">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8 col-lg-6 col-xl-5">
                    <div class="card bg-pattern">

                        <div class="card-body p-4">

                            <div class="text-center w-75 m-auto">
                                <a href="index.html">
                                    <span><img src="/images/logo-dark.png" alt="" height="18"></span>
                                </a>
                                <h5 class="text-uppercase text-center font-bold mt-4">登陆</h5>

                            </div>

                            <form id="LoginForm" name="LoginForm" asp-action="Login">

                                <div class="form-group mb-3">
                                    <label for="username">用户名</label>
                                    <input class="form-control" type="text" asp-for="Username" id="username" name="username" required placeholder="请输入您的管理员用户名">
                                </div>

                                <div class="form-group mb-3">
                                    <a href="@Url.Action("Reset")" class="text-muted float-right"><small>忘记密码？</small></a>

                                    <label for="password">密码</label>
                                    <input class="form-control" type="password" asp-for="Password" required id="password" name="password" placeholder="请输入您的管理员密码">
                                </div>
                                @if (ViewBag.SystemOptions.reCAPTCHASwitch)
                                {
                                    <div class="form-group">
                                        <input id="reCAPTCHA_Token" asp-for="reCAPTCHA_Token" name="reCAPTCHA_Token" hidden required/>
                                    </div>
                                }
                                <div class="form-group mb-3">
                                    <div class="custom-control custom-checkbox checkbox-success">
                                        <input type="checkbox" asp-for="Remember" class="custom-control-input" id="Remember" name="Remember">
                                        <label class="custom-control-label" for="remember">记住我</label>
                                    </div>
                                </div>

                                <div class="form-group mb-0 text-center">
                                    @if (ViewBag.SystemOptions.reCAPTCHASwitch)
                                    {
                                        <button class="btn btn-gradient btn-block g-recaptcha" data-callback="reCaptchaCallback" data-sitekey="@ViewBag.SystemOptions.reCAPTCHA_AppId"> 登 陆 </button>
                                    }
                                    else
                                    {
                                        <button class="btn btn-gradient btn-block"  type="submit"> 登 陆 </button>
                                    }
                                </div>

                            </form>

                            <div class="row mt-4">
                                <div class="col-sm-12 text-center">
                                    <p class="text-muted mb-0">您是打算为您的小孩登记入学吗？<a href="@Url.Action("Reg","Home")" class="text-dark ml-1"><b>点这跳转</b></a></p>
                                </div>
                            </div>


                        </div> <!-- end card-body -->
                    </div>
                    <!-- end card -->

                </div> <!-- end col -->
            </div>
            <!-- end row -->
        </div>
        <!-- end container -->
    </div>
    <!-- end page -->
    <!-- Vendor js -->
    <script src="/js/vendor.min.js"></script>

    <!-- App js -->
    <script src="/js/app.min.js"></script>

    @if (ViewBag.SystemOptions.reCAPTCHASwitch)
    {
        <script src="https://@ViewBag.SystemOptions.reCAPTCHA_ServerUrl/recaptcha/api.js"></script>
        <script>
            //谷歌验证码回调函数
            function reCaptchaCallback(token) {
                $("#reCAPTCHA_Token").val(token);
                $("#LoginForm").submit();
            }
        </script>
    }
</body>
</html>
