@model Kidregs.ViewModels.Admin.ResetViewModel
@{
    ViewData["Title"] = "修改密码";
}
<!DOCTYPE html>
<html lang="cn">
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"] - @ViewBag.SystemOptions.SiteName</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="幼儿园新生信息采集系统" name="description" />
    <meta content="He Zeen" name="author" />
    <meta content="Coderthemes" name="Theme From" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- App favicon -->
    <link rel="shortcut icon" href="/images/favicon.ico">

    <!-- App css -->
    <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="/css/icons.min.css" rel="stylesheet" type="text/css" />
    <link href="/css/app.min.css" rel="stylesheet" type="text/css" />
</head>

<body class="authentication-bg bg-gradient">

    <div class="account-pages pt-5 mt-5 mb-5">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8 col-lg-6 col-xl-5">
                    <div class="card bg-pattern">

                        <div class="card-body p-4">

                            <div class="text-center w-75 m-auto">

                                <a href="@ViewBag.SystemOptions.Domain">
                                    <span><img src="/images/logo-dark.png" alt="" height="20"></span>
                                </a>
                                <h5 class="text-center mt-4">Hello ! 管理员</h5>
                            </div>

                            <div class="account-content">
                                <div class="text-center">
                                    <p class="text-muted font-14">输入重设口令以重设内置超管账号密码. </p>
                                </div>

                                <form class="form-horizontal" id="ResetForm" name="ResetForm" asp-action="Reset">
                                    <div class="form-group row">
                                        <div class="col-12">
                                            <label for="password">重设口令</label>
                                            <input class="form-control" type="password" required id="ResetCode" asp-for="ResetCode" placeholder="请输入您的重设口令">
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <div class="col-12">
                                            <label for="password">密码</label>
                                            <input class="form-control" type="password" required id="NewPassword" asp-for="NewPassword" placeholder="请输入您新的管理员密码">
                                        </div>
                                    </div>
                                    @if (ViewBag.SystemOptions.reCAPTCHASwitch)
                                    {
                                        <div class="form-group">
                                            <input id="reCAPTCHA_Token" asp-for="reCAPTCHA_Token" name="reCAPTCHA_Token" hidden required />
                                        </div>
                                    }
                                    <div class="form-group row text-center">
                                        <div class="col-12">
                                            @if (ViewBag.SystemOptions.reCAPTCHASwitch)
                                            {
                                                <button class="btn btn-block btn-gradient waves-effect waves-light g-recaptcha" data-callback="reCaptchaCallback" data-sitekey="@ViewBag.SystemOptions.reCAPTCHA_AppId"> 重 设 </button>
                                            }
                                            else
                                            {
                                                <button class="btn btn-block btn-gradient waves-effect waves-light" type="submit"> 重 设 </button>
                                            }
                                        </div>
                                    </div>

                                </form>

                                <div class="row mt-4">
                                    <div class="col-sm-12 text-center">
                                        <p class="text-muted mb-0">@ViewBag.SystemOptions.CopyrightMessage</p>
                                    </div>
                                </div>

                            </div>

                        </div> <!-- end card-body -->
                    </div>
                    <!-- end card -->



                </div> <!-- end col -->
            </div>
            <!-- end row -->
        </div>
        <!-- end container -->
    </div>
    <!-- end page -->
    <!-- Vendor js -->
    <script src="/js/vendor.min.js"></script>

    <!-- App js -->
    <script src="/js/app.min.js"></script>

    @if (ViewBag.SystemOptions.reCAPTCHASwitch)
    {
        <script src="https://@ViewBag.SystemOptions.reCAPTCHA_ServerUrl/recaptcha/api.js"></script>
        <script>
            //谷歌验证码回调函数
            function reCaptchaCallback(token) {
                $("#reCAPTCHA_Token").val(token);
                $("#ResetForm").submit();
            }
        </script>
    }
</body>
</html>